controller:
  serviceType: LoadBalancer
  admin:
    username: admin
    password: admin
  resources:
    requests:
      cpu: "200m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "2Gi"

persistence:
  enabled: true
  size: "10Gi"
  storageClass: standard
  accessMode: ReadWriteOnce
