controller:
  serviceType: LoadBalancer
  admin:
    username: admin
    password: admin
  resources:
    requests:
      cpu: "1"
      memory: "2Gi"
    limits:
      cpu: "2"
      memory: "3Gi"

persistence:
  enabled: true
  size: "10Gi"
  storageClass: standard
  accessMode: ReadWriteOnce
